#clockContainer{  
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw; 
    background: url(Clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second, #point{
    position: absolute;
    border-radius: 10px; 
    transform-origin: bottom;
}
#hour{
    background: red;
    width: 1.8%;
    height: 25%;
    top: 23%;
    left: 49.38%;
    opacity: 0.8; 
}
#minute{
    background: rgb(0, 88, 37);
    width: 1.6%;
    height: 30%;
    top: 18.1%;
    left: 49.5%;
    opacity: 0.8;  
}
#second{
    background: rgb(122, 3, 122);
    width: 1%;
    height: 40%;
    top: 8%;
    left: 49.70%;
    opacity: 0.8;    
}
#point{
    background: black;
    width: 4.2%;
    height: 4.2%;
    top: 46%;
    left: 48.28%;
    opacity: 100;    
}